/* Button.module.scss */
@import '../../Common/theme.scss';

.button {
  width: 100%;
  max-width: 500px;
  text-decoration: none;
  border: none;
  background-color: $color-orange-peel; 
  color: $color-honey-dew; 
  padding: 12px 20px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 20px;

  &:active,
  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: $color-light-orange-peel; 
  }

  &.animated {
    border-radius: 5px;
    box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s;
  }
}
